@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/arsenal-bold-webfont.woff2') format('woff2'),
         url('../fonts/arsenal-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/arsenal-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/arsenal-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/arsenal-italic-webfont.woff2') format('woff2'),
         url('../fonts/arsenal-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/arsenal-regular-webfont.woff2') format('woff2'),
         url('../fonts/arsenal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}
.postcard{
 /* display: block;*/
  position: relative;
  justify-content: flex-start;
  width: 300px;
  padding: 0px;
  margin-bottom: 15px;
  background: #E8E8E8;

}
.postcard_inside{
  padding: 10px 0 0 5px;
  height: 90px;
}
.postcard_inside__pub-date{
  font-size: .8em;
  color: #126DFF;
}
.postcard__img{
  display: block;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/нр2019_1.jpg");
}​
  

.postcard_inside__text{
  text-align: right;
  height: 100px;
}
.postcard-2{
  /*display: inline-block;*/
  justify-content: flex-end;
  display: block;
  position: relative;
  overflow: hidden;
  /*width: 300px;*/
  /*height: 300px;*/
  padding: 0px;
  margin-bottom: 15px;
  background: #E8E8E8;
}
.postcard-2_inside{
  padding: 10px 0 0 5px;
  height: 90px;
}
.postcard-2_inside__pub-date{
  font-size: .8em;
  color: #126DFF;
}
.postcard-2__img{
  display: block;
  
  width: 100%;
  height: 200px;
  padding: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/нр19.jpg");
}​
.postcard-2_inside__text{
  text-align: right;
  height: 100px;
}

.asade{             /*звернути увагу*/
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;

}
.asade__wrap-1{
  display: flex;
  align-items: center;
 

  height: 70px;
  width: 330px;
  padding: 8px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,0,0,.7)), color-stop(25%, rgba(255,255,0,.7)), color-stop(50%, rgba(5,193,255,.7)), color-stop(75%, rgba(255,255,0,.7)), color-stop(100%, rgba(255,0,0,.7)));
  border: 1px solid gray;
  margin-bottom: 10px;
  color: #FFFFFF;
  font-weight: bold;
  
}
.asade__wrap-2{
  display: flex;
  align-items: center;

  height: 70px;
  width: 350px;
  padding: 8px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,0,0,.7)), color-stop(50%, rgba(255,255,0,.7)), color-stop(100%, rgba(255,0,0,.7)));
  border: 1px solid gray;
  margin-bottom: 10px;
  color: #FFFFFF;
  font-weight: bold;
}
.asade__wrap-3{
  display: flex;
  align-items: center;
  height: 70px;
  width: 350px;
  padding: 8px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,255,0,.7)), color-stop(50%, rgba(255,0,0,.7)), color-stop(100%, rgba(255,255,0,.7)));
  border: 1px solid gray;
  margin-bottom: 10px;
  color: #FFFFFF;
  font-weight: bold;

}
.asade__img-1{
  width: 50px;
  height: 50px;
  max-width: 50px;

}
.asade__img-2{
  width: 50px;
  height: 50px;
  max-width: 50px;
}
.asade__img-3{
  width: 50px;
  height: 50px;
  max-width: 50px;

}
.asade__content-first{
  padding-left: 15px;
}
.asade__content-second{
  padding-left: 15px;
}
.asade__content-third{
  padding-left: 15px;

}
.content{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}
.content_block1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  /*align-items: center;*/
}
.content_block2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;

}
.content_block1__first{
  position: relative;
  height: 200px;
  width: 360px;
  padding: 8px;
  background-color: #79ACC9; 
  margin-bottom: 10px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  
}
.content_block1__second{
  position: relative;
  height: 200px;
  width: 360px;
  padding: 8px;
  background-color: #79ACC9; 
  margin-bottom: 10px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  

}
.content_block1__third{
  position: relative;
  height: 200px;
  width: 360px;
  padding: 8px;
  background-color: #79ACC9; 
  margin-bottom: 10px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;

}
.content_block2__fourth{
  position: relative;
  height: 200px;
  width: 360px;
  padding: 8px;
  background-color: #79ACC9; 
  margin-top: 50px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}
.content_block2__fifth{
  position: relative;
  
  height: 200px;
  width: 360px;
  padding: 8px;
  background-color: #79ACC9; 
  margin-top: 50px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;


}
.content_block1__first__img-1{
  max-width: 70px;
  width: 70px;
  height: 70px;
  
}
.content_block1__second__img-2{
  max-width: 70px;
  width: 70px;
  height: 70px;
  
}
.content_block1__third__img-3{
  max-width: 70px;
  width: 70px;
  height: 70px;
  
}

.content_block2__fourth__img-4{
  max-width: 70px;
  width: 70px;
  height: 70px;
  

}
.content_block2__fifth__img-5{
  max-width: 70px;
  width: 70px;
  height: 70px;
  

}
.content_block1__first__text{
  position: absolute;
  bottom: 0;
  padding: 16px;
  align-items: center;
}
.content_block1__second__text{
  position: absolute;
  bottom: 0;
  padding: 16px;
  align-items: center;
}
.content_block1__third__text{
  position: absolute;
  bottom: 0;
  padding: 16px;
  align-items: center;
}
.content_block2__fourth__text{
  position: absolute;
  bottom: 0;
  padding: 16px;
  align-items: center;
}
.content_block2__fifth__text{
  position: absolute;
  bottom: 0;
  padding: 16px;
  align-items: center;
}

.table{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.table-1{
  width: auto;
  height: 80px;
  background-color: yellow;
  align-content: center;
  font-weight: bold;
  color: #630A0A;
}
.table-1__tr{
  padding: 15px;
  text-align: right;

}
.table-1__td{
 border: 4px solid yellow;
 text-align: left; 

  
}
.table-tel{
  width: auto;
  height: 80px;
  background-color: #FFFFFF;
  align-content: center;
  font-weight: bold;
  line-height: 1.5;
  color: green;
}
.table-tel__tr{
  padding: 15px;
  text-align: right;
}
.table-tel__td_line-up{
  text-align: left;
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
a:hover{
  color: blue;
}
